@font-face {
  font-family: Reuben;
  src: url('./fonts/Reuben.otf') format("opentype");
}

.App {
  display: flex;
  flex-direction: column;
  background: #18c777;
  color: black;
  font-family: Reuben;
}
.Name-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  border-bottom: 20px solid #297373;
  padding-left: 20px;
}

.Name {
  font-size: 150px;
  display: flex;
  align-items: flex-end;
}

.Name p{
  transform: translateY(100%);
}

.AKA {
  font-size: 50px;
}

.AKA p{
  transform: translateY(-80%);
}
.Projects {
  height: 400px;
  background-color: #18c777;
}
.Language-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Section-title {
  font-size: 40px;
  text-align: center;
}

.Language-logo {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.Language-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}