@font-face {
  font-family: Reuben;
  src: url('./fonts/Reuben.otf') format("opentype");
}
.Name-card {
  background-color: #18c777;
  color: white;
  font-family: Reuben;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  border-top: 20px solid white;
  border-bottom: 10px solid white;
  padding-left: 20px;
}

.Name {
  font-size: 150px;
  display: flex;
  align-items: flex-end;
}

.Name p{
  transform: translateY(100%);
}

.AKA {
  font-size: 50px;
}

.AKA p{
  transform: translateY(-80%);
}
.Projects {
  height: 400px;
  background-color: #18c777;
}
